@page "/WidgetsContainer"

<div class="widget">
    <Widget1 FullPage=false />
</div>
<div class="widget">
    <Widget2 />
</div>

<div class="widget">
    <Widget3/>
</div>
<div class="widget">
    <Widget4/>
</div>
